*.pyc
*.lnk
logs/
screenshots/
.cache/
geckodriver.log
.DS_Store
debug.log
__pycache__
*.orig
log/
*.log
*venv*

# Local .terraform directories
**/.terraform/*
*.terraform*

# .tfstate files
*.tfstate
*.tfstate.*
*.pem
*.tfvars
*.tfvars.json
*.tfstate*
# Ignore CLI configuration files
.terraformrc
terraform.rc

