[Unit]
Description=Gunicorn instance to serve carsapi
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/code/cars-api
Environment="PATH=/home/ubuntu/code/venv-carsapi/bin"
ExecStart=/home/ubuntu/code/venv-carsapi/bin/gunicorn -b 0.0.0.0:5000 cars_app:app
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target

